dist/
docs/aos/tools/
*.pdf
cucpo_lora_output/
cucpo_lora_hf/
# Allow portfolio HTML assets for GitHub Pages
!portfolio/*.html
*.exe
*.dll
*.zip
*.7z
*.tar
*.tar.gz
*.tgz
*.rar
API_MA.txt
_hf_push_*/
